@import "./Components/Caroulsel.css";


:root{
    /*color palette */
    --primary:#;
    --Secundary:#;
    --Complemento:#;

    /*Slider colors */
    --Controls-input-background:#fff;
    --Pagination-item-border: #fff;
    --Pagination-item-background: rgba(255, 255, 255, 0.5);
    /*Slider Settings */
    --timeTransition:all 600ms;
    --animation-durarion: 6.5s;

}