@import "./Components/Caroulsel.css";
@import "./Components/Nav.css";
@import "./Components/Search.css";


:root{
    /*color palette */
    --primary:#;
    --Secundary:#;
    --Complemento:#;

    /*color Navbar */
    --NavBar-Background-color: white ;
    --NavBar-Link-color: rgb(66, 66, 66);
    --NavBar-Link-color-hover: rgb(107, 107, 107);
    

    /*Slider colors */
    --Controls-input-background:#fff;
    --Pagination-item-border: #fff;
    --Pagination-item-background: rgba(255, 255, 255, 0.5);
    /*Slider Settings */
    --timeTransition:all 600ms;
    --animation-durarion: 6.5s;

}